*{margin:0; padding: 0;font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}

/* common className */
section{height: 600px;}
.black{background-color: black;color: white;}
.white{background-color: white;color: black;}
.verticalalign_center{vertical-align: center;}
.textalign_center{text-align: center;}
.flex{display: flex;}
.flex_space_Between{
    justify-content: space-between;
}
.m_left{margin-left: 20px;}
.m_right{margin-right: 20px;}

/* common css */
.center_Inner{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    width: 70%;
}
.center_Outer{
    position: relative;
}
.title_Container{
    font-size: 40px;
    margin-bottom: 20px;
}
.contents_Container{
    font-size: 20px;
}
.content{

}


/* header css*/
header{
    width: 100%;
    height: 50px;
}
header h2{
    font-size: 35px;
}
header h2, header span{
    line-height: 50px;
}
.header_Left{
    margin-left: 10px;
}
.header_Right{
    margin-right: 10px;

}


/* club Name*/
.clubName{
    background-image: url("./img/top_image.PNG") ;
    background-size: cover;
    position: relative;
}
.clubName::before{
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.9);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}
.clubName .div{

}

.clubName .title_Container{
    font-size: 70px;
}
.clubName .contents_Container{
font-size: 30px;
}

/* project css*/

.Projects .center_Inner{
    height: 50%;
}
.Projects .contents_Container{
    height: 70%;
}
.project_Container{
    width: 30%;
    height: 100%;
    border: solid 1px rgba(0,0,0,0.5);
    filter: drop-shadow(30px 10px 10px rgba(0,0,0,0.6));
}